@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Nunito&display=swap');
html {
  scroll-behavior: smooth;
}
body h2{
  text-shadow:2px 2px 3px rgb(153, 153, 153) ;
}
p.sosial i {
  background: #dc3545;
  padding: 0.5rem;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 8px rgb(192, 192, 192);
}
h2 {
    text-transform: uppercase;
}
section {
    padding-top:5rem; 
}
hr {
    border: 1px solid #dc3545;
}
section.jumbotron{
    padding-top: 3rem;
}
.tombol {
    border-radius: 2px;
}
/*--------------- Style for lightbox gallery item---------- */
img {
    max-width: 100%;
  }
  section#gallery img:hover {
    filter: contrast(40%);
    transition: 0.3s ease;
  }
  .gallery {
    border-radius: 12px;
    cursor: pointer;
  }
  .gallery img {
    background-color: var(--bg-gallery-img);
    width: 100%;
    cursor: pointer;
  }
  #gallery-modal .modal-img {
    width: 100%;
  }
section#freelance {
  font-family: 'Arvo', sans-serif;
}
input.form-control {
  border-radius: 8px;
}
.tombol-radius {
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

@media (min-width: 992px) {
  .active::after {
    content: '';
    display: block;
    border-bottom: 2px solid #dc3545;
    width: 100%;
    padding-bottom: 4px;
    margin-bottom: -6px;
    transition: all 1.4s;
  }
  .linkBar:hover::after {
    content: '';
    display: block;
    border-bottom: 2px solid #dc3545;
    width: 100%;
    padding-bottom: 4px;
    margin-bottom: -6px;
    transition: all 1.4s;
  }
  .navbar-nav {
    margin: auto;
  }
}
@media (min-width: 576px) {
  html {
    scroll-behavior: smooth;
  }
}